/* --------- Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* --------- Heading */
.heading-page {
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid #33393F;
    margin-top: 0;
}

#rule-btn {
    color: #33393F;
    font-size: 15px;
    background-color: tomato;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    padding: 8px;
    box-shadow: 2px 5px 20px #cccbcb;
}

#rule-btn:hover {
    color: tomato;
    background-color: white;
}

/* --------- Score Area */

.user-info {
    width: 30%;
    height: 90px;
    border: 1px solid #33393F;
    border-bottom: 2px solid tomato;
    border-radius: 15px;
    margin-right: 180px;
    box-shadow: 2px 5px 20px #cccbcb;
}

.user-info p {
    float: left;
    padding-left: 25%;
    position: relative;
}

#user-name {
    font-weight: 900;
    font-size: 1rem;
    color: tomato;
    padding-top: 15px;
    padding-left: 65px;
}

#user-score {
    padding-left: 50px;
    padding-top: 18px;
    font-weight: 700;
}


.computer-info {
    width: 30%;
    height: 90px;
    border: 1px solid #33393F;
    border-radius: 15px;
    border-bottom: 2px solid slateblue;
    box-shadow: 2px 5px 20px #cccbcb;
}

.computer-info p {
    float: right;
    padding-right: 20%;
    position: relative;
}

#computer-name {
    font-weight: 900;
    font-size: 1rem;
    color: slateblue;
    padding-top: 15px;
    padding-right: 65px;
}

#computer-score {
    padding-right: 50px;
    padding-top: 18px;
    font-weight: 700;
}

.user-info, .computer-info {
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 15px;
}

#reset-btn {
    border-radius: 8px;
    background-color: tomato;
    color: black;
    font-weight: 700;
    padding: 8px;
    box-shadow: 2px 5px 20px #cccbcb;
}

#reset-btn:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    color: tomato;
    font-weight: 700;
    padding: 8px;
    box-shadow: 2px 5px 20px #cccbcb;
}

/* --------- Game layout */

.game-area {
    box-sizing: border-box;
    width: 100%;
    height: 490px;
    max-height: 490px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    position: static;
}

.game-board {
    width: 80%;
    height: 45%;
    margin-top: 2%;
    margin-left: 9%;
    border: 2px solid #33393F;
    border-radius: 15px;
    box-shadow: 2px 5px 20px #cccbcb;
    display: flow-root;
    position: absolute;
    background-color: #80B59B;
}

.game-area h1 {
    font-size: 2rem;
}

#result-area {
    margin: 0 auto;
    display: inline-block;
}

.result-area h3 {
    font-size: 3rem;
}

.user-choice-area {
    padding-top: 30px;
    padding-left: 90px;
    width: 33%;
    float: left;
    letter-spacing: 30px;
}

#result-msg {
    color: #80B59B;
    background-color: #80B59B; 
    border-radius: inherit; 
    width: 180px; 
    padding: 2px 0; 
    margin: 30px auto;
    cursor: default;
}

.computer-choice-area {
    padding-top: 15px;
    padding-right: 90px;
    width: 33%;
    float: right;
}

/* --------- Logos */
.fa-user-astronaut {
 font-size: 4rem;
}

.fa-robot {
    font-size: 4rem;
}

.fa-meteor {
    font-size: 6rem;
    color: wheat;
}

.fa-meteor:hover {
    cursor: pointer;
    color: tomato;

    transform: rotate(10deg);
}

.fa-paper-plane {
    font-size: 6rem;
    color: wheat;
}

.fa-paper-plane:hover {
    cursor: pointer;
    color: tomato;
    transform: rotate(-20deg);
}

.fa-fan {
    font-size: 6rem;
    color: wheat;
}

.fa-fan:hover {
    cursor: pointer;
    color: tomato;
    transform: rotate(20deg);
}

.fa-question-circle {
    font-size: 6rem;
    color: wheat;
}

button {
    border: none;
    background-color: transparent;
}

/* --------- Message */
#msg-user {
    margin-left: 21%;
    float: left;
    position: absolute; 
}

#msg-computer {
    float: right;
    margin-right: 19%;
}

/* --------- Footer */
footer {
    margin: 0%;
    margin-top: 80px;
    padding: 0%;
    height: 50px;
    width: 100%;
    background-color: #33393F;
    box-shadow: 2px 5px 20px #cccbcb;
    position: absolute;
}

footer > h3 {
    margin: 0%;
    padding: 0.8%;
    color: aliceblue;
}

/* -------------------- Media Queries */

@media screen and (max-width: 1490px) {
    .fa-meteor, .fa-paper-plane, .fa-fan, .fa-question-circle {
        font-size: 5rem;
    }

    .fa-user-astronaut, .fa-robot {
        font-size: 3rem;
    }

    #user-name, #computer-name {
        font-size: 15px;
    }
}

@media screen and (max-width: 1080px) {
    .fa-meteor, .fa-paper-plane, .fa-fan, .fa-question-circle {
        font-size: 3.5rem;
    }

    .fa-user-astronaut, .fa-robot {
        font-size: 2.5rem;
    }

    #user-name, #computer-name {
        font-size: 15px;
    }

    #user-score, #computer-score {
        font-size: 15px;
    }

    .user-info p, .computer-info p {
        padding-top: 15px;
    }
}

@media screen and (max-width: 895px) {
    .fa-meteor, .fa-paper-plane, .fa-fan, .fa-question-circle {
        font-size: 3rem;
    }

    #user-profil, #computer-profil {
        display: none;
    }

    #msg-computer, #msg-user {
        font-size: 15px;
    }

    .user-info {
        border-bottom: 1px solid tomato;
    }
}

@media screen and (max-width: 720px) {
    .user-info, .computer-info {
        margin: 15px;
        width: 27%;
    }
    
    #user-name, #computer-name {
        padding: 5%;
        font-size: 12px;
    }

    #user-name {
        padding-left: 5%;
        padding-top: 20%;
    }

    #computer-name {
        padding-top: 20%;
    }

    #user-score, #computer-score {
        padding-top: 18%;
        font-size: 15px;
    }

    #myc-h1 {
        font-size: 1.5rem;
    }

    #result-msg {
        font-size: 1rem;
    }

    #result-area h3 {
        padding-right: 35px;
        padding-top: 15px;
        font-size: 20px;
    }

    .fa-meteor, .fa-paper-plane, .fa-fan, .fa-question-circle {
        font-size: 2rem;
    }
    
    .user-choice-area {
        padding-left: 35px;
        letter-spacing: 15px;

    }

    .computer-choice-area {
        width: 0%;
        padding-right: 90px;
    }

    .game-area {
        height: 317px;
    }

    #msg-computer, #msg-user {
        padding-top: 20px;
        display: grid;
    }
}

@media screen and (max-width: 360px) {
    #user-score {
        padding-left: 35px;
    }
}
