/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    width: 100%;
    margin: auto;
}

/* --------- Heading */

.heading-page {
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 1px solid #33393F;
}

/* --------- Score Area */

.user-info {
    
    width: 450px;
    height: 90px;
    border: 1px solid #33393F;
    border-radius: 15px;
}

.user-info p {
    float: left;
    padding-left: 50px;
}


.computer-info {
    width: 450px;
    height: 90px;
    border: 1px solid #33393F;
    border-radius: 15px;
    
}

.computer-info p {
    float: right;
    padding-right: 45px;
}

.user-info, .computer-info {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px auto;
    
}

/* --------- Game layout */

.game-area {
    background-color: #80B59B;
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    max-height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.user-choice-area {
    padding-top: 50px;
    width: 33%;
    float: left;
}

.result-area {
    width: 33%;
    margin: 0 auto;
    padding-top: 200px;
    position: absolute;
    padding-left: 420px;
}

.computer-choice-area {
    padding-top: 50px;
    width: 33%;
    float: right;
    
}


/* --------- Logos */

.fa-user-astronaut {
 font-size: 4rem;
}

.fa-robot {
    font-size: 4rem;
}

.fa-heart {
    font-size: 1.5rem;
    color: tomato;
    padding: 3px;
}

.fa-meteor {
    font-size: 6rem;
    color: wheat;
}

.fa-meteor:hover {
    color: tomato;
}

.fa-paper-plane {
    font-size: 6rem;
    color: wheat;
}

.fa-paper-plane:hover {
    color: tomato;
}

.fa-fan {
    font-size: 6rem;
    color: wheat;
}

.fa-fan:hover {
    color: tomato;
}


button {
    border: none;
    background-color: transparent;
}