/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* --------- Heading */

.heading-page {
    text-align: center;
    font-size: 1.7rem;
    border-bottom: 1px solid #33393F;
}

/* --------- Score Area */

.user-info {
    
    width: 450px;
    height: 90px;
    border: 1px solid #33393F;
    border-bottom: 2px solid tomato;
    border-radius: 15px;
    margin-right: 180px;
    box-shadow: 2px 5px 20px #cccbcb;

}

.user-info p {
    float: left;
    padding-left: 50px;
}

#user-life {
    padding-top: 15px;
    padding-left: 65px;
}

#user-score {
    padding-left: 50px;
    padding-top: 18px;
    font-weight: bolder;
}


.computer-info {
    width: 450px;
    height: 90px;
    border: 1px solid #33393F;
    border-radius: 15px;
    box-shadow: 2px 5px 20px #cccbcb;
    
}

.computer-info p {
    float: right;
    padding-right: 45px;
}

#computer-life {
    padding-top: 15px;
    padding-right: 65px;
}

#computer-score {
    padding-right: 50px;
    padding-top: 18px;
    font-weight: bolder;
}

.user-info, .computer-info {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 15px auto;
    
}
/* --------- Game layout */

.game-area {
    background-color: #80B59B;
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    max-height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.game-area h1 {
    font-size: 50px;
}

.result-area {
    width: 10%;
    margin: 0 auto;
    padding-top: 65px;
    display: inline-block
}

.result-area h3 {
    font-size: 5rem;
}

.user-choice-area {
    
    padding-top: 120px;
    padding-left: 90px;
    width: 33%;
    float: left;
}

/*
.user-choice-area button {
    display: inline;
    padding-left: 85px;
}
*/

.computer-choice-area {
    padding-top: 120px;
    padding-right: 90px;
    width: 33%;
    float: right;
    
}


/* --------- Logos */

.fa-user-astronaut {
 font-size: 4rem;
}

.fa-robot {
    font-size: 4rem;
}

.fa-heart {
    font-size: 1.5rem;
    color: tomato;
    padding: 3px;
}

.fa-meteor {
    font-size: 6rem;
    color: wheat;
}

.fa-meteor:hover {
    color: tomato;
    transform: scale(1.5,1.5);
}

.fa-paper-plane {
    font-size: 6rem;
    color: wheat;
}

.fa-paper-plane:hover {
    color: tomato;
    transform: scale(1.5,1.5);
    
}

.fa-fan {
    font-size: 6rem;
    color: wheat;
}

.fa-fan:hover {
    color: tomato;
    transform: scale(1.5,1.5);
}

.fa-question-circle {
    font-size: 6rem;
    color: wheat;
}


button {
    border: none;
    background-color: transparent;
}

/* --------- Footer */

footer {
    margin: 0%;
    padding: 0%;
    height: 50px;
    width: 100%;
    background-color: #33393F;
}

footer > h3 {
    margin: 0%;
    padding: 0.8%;
    color: aliceblue;
}